version: '3.8'

services:


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - FLASK_ENV=production
    depends_on:
      - auth-service
      - booking-service
      - flight-service
    networks:
      - flight-network
  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    environment:
      - DEBUG=0
    networks:
      - flight-network

  booking-service:
    build:
      context: ./booking-service
      dockerfile: Dockerfile
    ports:
      - "8012:8002"
    depends_on:
      - auth-service
    environment:
      - DEBUG=0
    networks:
      - flight-network
    volumes:
      - ./booking-service/staticfiles:/app/staticfiles

  flight-service:
    build:
      context: ./flight-service
      dockerfile: Dockerfile
    ports:
      - "8002:8002"
    environment:
      - DEBUG=0
    networks:
      - flight-network

networks:
  flight-network:
    driver: bridge
