apiVersion: apps/v1
kind: Deployment
metadata:
  name: flight-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flight-service
  template:
    metadata:
      labels:
        app: flight-service
    spec:
      containers:
      - name: flight-service
        image: flight-service:v2
        imagePullPolicy: Never
        ports:
        - containerPort: 8002
---
apiVersion: v1
kind: Service
metadata:
  name: flight-service
spec:
  selector:
    app: flight-service
  ports:
  - name: http
    port: 8002
    targetPort: 8002
  type: ClusterIP
